#{extends 'main.html' /}

#{if p}
	#{set title:'Edição de pessoa' /}
#{/if}
#{else}
	#{set title:'Cadastro de pessoa' /}
#{/else}

<center><h1>#{get 'title' /}</h1></center>
<br>

<form action="@{Pessoas.salvar}" method="POST" class="row g-3">

	<input type="hidden" name="pessoa.id" value="${p?.id}" />
	
	
	<div class="mb-1 ">
		<label  for="inputText4" class="form-label">Nome:</label>
		<input class="form-control" type="text" id="inputText4" name="pessoa.nome" value="${p?.nome}" />
		#{error 'pessoa.nome' /}
	</div>
	
	<div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4"  name="pessoa.email" value="${p?.email}">
    #{error 'pessoa.email' /}
  </div>
  
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Senha</label>
    <input type="password" class="form-control" id="inputPassword4" name="pessoa.senha"  value="${p?.senhas}">
    #{error 'pessoa.senha' /}
  </div>
  
  <div class="col-md-6">
    <label  class="form-label">Perfil</label>
    <select name="pessoa.perfil">
    <option >Usuario </option>
    <option >administrador </option>
    </select>
    #{error 'pessoa.perfil' /}

  </div>

	#{if p}
	<div class="col-12">
    <center><button type="submit" value="Atualizar" class="btn btn-danger">Editar</button></center>
  </div>
		
	#{/if}
	#{else}
	
<div class="col-12">
   <center> <button type="submit" value="Cadastrar" class="btn btn-danger">Cadastar</button></center>
  </div>
	#{/else}
</form>