#{extends 'main.html' /}
#{set title:'Listagem de pessoas' /}

<h1>#{get 'title' /}</h1>

<br>

<form action="@{Pessoas.listar}" method="GET">
	<div class="row">
		<div class="col-9">
			<input class="form-control  border-danger-subtle" type="text"
				name="termo" value="${termo}" placeholder="Informe o termo de busca" />
		</div>
		<div class="col-3">
			<input type="submit" class="btn btn-danger mb-3" value="Buscar" />
		</div>
	</div>
</form>

<a href="@{Pessoas.form}" class="btn btn-primary">Cadastrar</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Email</th>
      <th>  Ações</th>
    </tr>
  </thead>
  <tbody id="tabela">
  	
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
	$("form").submit(function(e) {
	 e.preventDefault();
	 $.ajax({
		 type: "GET", //INFORME O TIPO DA REQUISICAO
		 url: "@{Pessoas.listarAjax}", //INFORME A URL DE DESTINO
		 data: $(this).serialize(), //ENVIA DADOS DO FORMULARIO
		 success: function(data) {
			 $("#tabela").empty();
			 $.each(data, function(i, p) {
				 $("#tabela").append("<tr> <td>" + p.id + "</td>" + "<td>" + p.nome + "</td>" + "<td>" + p.email + "</td>" +
						 "<td>" +
						 "<a class='btn btn-danger' href=/Pessoas/form?id=" + p.id + ">Editar</a>" +
						 "<a  class='btn btn-danger'href=/Pessoas/remover?id="  + p.id + ">Remover</a>" +
						 "</td> </tr>");
			 });
		 }
	 });
	});
});
</script>





